{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
  <style>
    .ajax-loader {
      visibility: hidden;
      background-color: rgba(255, 255, 255, 0.7);
      position: absolute;
      z-index: +100 !important;
      width: 50%;
      height: 50%;
    }

    .ajax-loader img {
      position: relative;
      width: 100px;
      height: 100px;
      top: 100%;
      left: 100%;
    }

    #success-message {
      visibility: hidden;
    }
  </style>
  <div class="alert alert-success alert-dismissible fade show" role="alert" id="success-message">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>
  <table class="table">
    <thead>
    <tr>

      <th scope="col">Description</th>
      <th scope="col">Document</th>
      <th scope="col">Uploaded_at</th>
      <th scope="col">Export</th>
    </tr>
    </thead>
    <tbody>
    {% for documents in document_list %}
      <tr>
        <td>{{ documents.description }}</td>
        <td>{{ documents.document }}</td>
        <td>{{ documents.uploaded_at }}</td>
        <td>
          <button type="submit" class="btn btn-primary" data-id="{{ documents.document }}" onclick="csvExport(this)" id="expBtn">Export
          </button>
          {% csrf_token %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <ul>

  </ul>
  <div class="ajax-loader">
    <img src="{% static "images/SkinnySeveralAsianlion.gif" %}" class="img-responsive"/>
  </div>
  <p><a href="{% url 'home' %}">Return to home</a></p>
{% endblock %}
{% block javascript %}
  <script src="{% static "js/app.js" %}"></script>


{% endblock javascript %}
